<section id="three">
    <div class="container">
      <h4 class="fw-bolder text-center text-light p-4">
        Most Reviewed Colleges
      </h4>
      <div class="row">
          <div class="col-12 col-sm-6 col-lg-4 p-2 p-lg-4" *ngFor="let i of model">
           <span  (click)="clg(i)">
            <img
            class="college-img"
            width="100%"
            src="{{i.pic}}" 
            alt=""
          />
          <p class="fw-bolder text-light text-center mt-3">
            {{i.name}}
          </p>
          <!-- <p class="text-light text-center">200 reviews</p> -->
           </span>
          </div>
      </div>
      
    </div>
  </section>