<section id="three1">
    <div class="container p-5">
      <h4 class="fw-bolder text-center text-light p-4">
        Add a New Colleges
      </h4>
      <div
        class="text-light p-4"
        style="background-color: #c67c7c; border-radius: 20px"
      >
        <form action="">
          <div class="mb-3 row">
            <label
              for="inputPassword"
              class="col-sm-3 col-form-label fw-bold"
              >Name of the college:
            </label>
            <div class="col-sm-9">
              <input
                type="password"
                class="form-control rounded-pill"
                id="inputPassword"
                style="background-color: #d59f9f"
              />
            </div>
          </div>
          <div class="mb-3 row">
            <label
              for="inputPassword"
              class="col-sm-3 col-form-label fw-bold"
              >Location:</label
            >
            <div class="col-sm-9">
              <input
                type="password"
                class="form-control rounded-pill"
                id="inputPassword"
                style="background-color: #d59f9f"
              />
            </div>
          </div>
          <div class="mb-3 row">
            <label
              for="inputPassword"
              class="col-sm-3 col-form-label fw-bold"
              >Sample Pictures(URL):</label
            >
            <div class="col-sm-9">
              <input
                type="password"
                class="form-control rounded-pill"
                id="inputPassword"
                style="background-color: #d59f9f"
              />
            </div>
          </div>
          <div class="form-floating">
            <textarea
              class="form-control text-light"
              placeholder="Leave a comment here"
              id="floatingTextarea2"
              style="
                height: 100px;
                background-color: #d59f9f;
                border-radius: 20px;
              "
            ></textarea>
            <label for="floatingTextarea2" class="fw-bold"
              >Type in your review here</label
            >
          </div>
        </form>
      </div>
    </div>
  </section>
  <section id="three1">
    <div class="container p-5">
      <h4 class="fw-bolder text-center text-light p-4">
        Leave a review about your hostel
      </h4>
      <div
        class="text-light p-4"
        style="background-color: #c67c7c; border-radius: 20px"
      >
        <form action="">
          <div class="mb-3 row">
            <label
              for="inputPassword"
              class="col-sm-3 col-form-label fw-bold"
              >Name of the hostel:
            </label>
            <div class="col-sm-9">
              <input
                type="password"
                class="form-control rounded-pill"
                id="inputPassword"
                style="background-color: #d59f9f"
              />
            </div>
          </div>
          <label
              for="inputPassword"
              class="col-sm-3 col-form-label fw-bold"
              >Name of the hostel:
            </label>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">Male</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">Female</label>
          </div>
          
          <div class="mb-3 row">
            <label
              for="inputPassword"
              class="col-sm-3 col-form-label fw-bold"
              >Add your review:</label
            >
            
          </div>
          <div class="form-floating">
            
            <textarea
              class="form-control text-light"
              placeholder="Leave a comment here"
              id="floatingTextarea2"
              style="
                height: 100px;
                background-color: #d59f9f;
                border-radius: 20px;
              "
            ></textarea>
            <label for="floatingTextarea2" class="fw-bold"
              >Type in your review here</label
            >
          </div>
        </form>
      </div>
    </div>
  </section>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
  
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
  <section id="three1">
    <div class="container p-5">
      <h4 class="fw-bolder text-center text-light p-4">
        Pending Reviews to be Approved
      </h4>
      <div
        class="text-light p-4"
        style="background-color: #c67c7c; border-radius: 20px"
      >
        <table class="scroll table text-light">
          <thead>
            <tr>
              <th scope="col">College Name</th>
              <th scope="col">Hostel Name</th>
              <th scope="col">Reviews</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Amal Jyothi College of Engineering</td>
              <td>Amala Ladies Hostel</td>
              <td></td>
              <td> <a class="delete_approve" href="#"> Delete</a> <a class="delete_approve" href="">Approve</a> </td>
            </tr>
            <tr>
              <td>Amal Jyothi College of Engineering</td>
              <td>Amala Ladies Hostel</td>
              <td></td>
              <td> <a class="delete_approve" href="#"> Delete</a> <a class="delete_approve" href="">Approve</a> </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section> 