<section id="three">
    <div class="container">
      <h4 class="fw-bolder text-center text-light p-4">
          <br>
        Log in to leave a review
      </h4>
      <div class="form-body">
        <div class="row">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <!-- <h3>Welcome</h3> -->
                        <!-- <p>Fill in the data below.</p> -->
                        <form class="requires-validation" (ngSubmit)="login()" #userslogin="ngForm" novalidate>
<!-- 
                            <div class="col-md-12">
                               <input class="form-control" type="text" name="name" placeholder="Full Name" required>
                               <div class="valid-feedback">Username field is valid!</div>
                               <div class="invalid-feedback">Username field cannot be blank!</div>
                            </div> -->

                            <div class="col-md-12">
                                <input class="form-control" type="email" name="email" placeholder="E-mail Address" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" [(ngModel)]="user.username" required>
                                 <div class="valid-feedback">Email field is valid!</div>
                                 <div class="invalid-feedback">Email field cannot be blank!</div>
                            </div>

                           <div class="col-md-12">
                                
                           </div>


                           <div class="col-md-12">
                              <input class="form-control" type="password" name="password" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" [(ngModel)]="user.userpassword"  required>
                               <div class="valid-feedback">Password field is valid!</div>
                               <div class="invalid-feedback">Password field cannot be blank!</div>
                           </div>


                           <div class="col-md-12 mt-3">
                           
                            </div>

                        <div class="form-check">
                          <input class="form-check-input" type="checkbox"  id="invalidCheck"  [(ngModel)]="re" name="re" required>
                          <label class="form-check-label">I'm definitely not a robot!</label>
            
                        </div>
                  

                        <div class="form-button mt-3">
                            <button id="submit" type="submit" style="margin:auto" class="btn btn-primary" [disabled]="userslogin.invalid" >Log in</button>
                        </div>
                        <br>
                        <div class="card-footer">
                            <div class="d-flex justify-content-center links" style="color:white; text-decoration: none;">
                                Don't have an account?&nbsp;<a routerLink="/signup" style="color:white; text-decoration: none;"> Sign up here!</a>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<br><br>
  </section>