<!-- <h1 >admin header

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a (click)="remove()">logout</a>

</h1> -->
<section id="home">
    <!-- <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <h1 class="navbar-brand fw-bolder heading mb-2 mb-lg-0" style="margin-left: 30px;">
          <svg
            style="margin-bottom: 10px"
            width="30"
            height="24"
            viewBox="0 0 30 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M15.0364 14.4229C11.6476 14.4229 8.76844 16.0719 6.88788 18.6567V23.4642H23.1861V18.6567C21.3055 16.0719 18.4258 14.4229 15.0364 14.4229ZM30 11.9557L14.9969 0.38623L0 11.9557L2.4999 13.8701V16.8146C1.87304 17.0318 1.87116 17.5814 1.87116 18.235C1.87116 18.621 1.94764 19.0731 2.09307 19.3438L1.23553 22.4152H4.29458L3.44457 19.3417C3.58749 19.071 3.70471 18.6724 3.70471 18.2864C3.70471 17.6339 3.12675 17.0307 3.12675 16.8136V14.3621L6.26102 16.7181V16.5094C8.14159 13.7725 11.4457 12.0354 15.0357 12.0354C18.627 12.0354 21.9324 13.7725 23.8129 16.5094V16.7181L30 11.9557Z"
              fill="black"
            />
          </svg>
          Ratemy<span class="text-danger">Dorm</span>
        </h1>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item px-2">
              <a class="nav-link active fw-bolder" aria-current="page"
                >
                
                </a
              >
            </li>
            <li class="nav-item px-2">
              <a class="nav-link active fw-bolder" aria-current="page"
                >
                
                </a
              >
            </li>
            <li class="nav-item px-2">
              <a class="nav-link active fw-bolder" aria-current="page"
                >
                
                </a
              >
            </li>
            <li class="nav-item px-2">
              <a class="nav-link active fw-bolder" aria-current="page"
              (click)="remove()">
              Log Out</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav> -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
      <div class="container-fluid">
        <h1 class="navbar-brand fw-bolder heading mb-2 mb-lg-0" style="margin-left: 30px;">
          <svg
            style="margin-bottom: 10px"
            width="30"
            height="24"
            viewBox="0 0 30 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M15.0364 14.4229C11.6476 14.4229 8.76844 16.0719 6.88788 18.6567V23.4642H23.1861V18.6567C21.3055 16.0719 18.4258 14.4229 15.0364 14.4229ZM30 11.9557L14.9969 0.38623L0 11.9557L2.4999 13.8701V16.8146C1.87304 17.0318 1.87116 17.5814 1.87116 18.235C1.87116 18.621 1.94764 19.0731 2.09307 19.3438L1.23553 22.4152H4.29458L3.44457 19.3417C3.58749 19.071 3.70471 18.6724 3.70471 18.2864C3.70471 17.6339 3.12675 17.0307 3.12675 16.8136V14.3621L6.26102 16.7181V16.5094C8.14159 13.7725 11.4457 12.0354 15.0357 12.0354C18.627 12.0354 21.9324 13.7725 23.8129 16.5094V16.7181L30 11.9557Z"
              fill="black"
            />
          </svg>
          RateMy<span class="text-danger">Dorm</span>
        </h1>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            
            
          
           
            <li class="nav-item px-2">
              <a
                class="nav-link active fw-bolder"
                aria-current="page"
                (click)="remove()">
              Log Out
                </a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container" style="min-height: 90vh">
      <h4 class="text-center text-light" style="padding-top: 20%; font-weight: bold; ">Admin Controls</h4>
    </div>
  </section>
