<section id="four">
    <div class="container my-5">
      <p class="fw-bold">Browse Colleges By Districts</p>
      <hr />
      <div class="table-responsive text-center">
        <table class="table">
          <tbody>
            <tr>
              <td>Allapuzha</td>
              <td>Kasargod</td>
              <td>Malappuram</td>
              <td>Wayanad</td>
            </tr>
            <tr>
              <td>Ernakulam</td>
              <td>Kollam</td>
              <td>Palakkad</td>
              <td>Thrissur</td>
            </tr>
            <tr>
              <td>Idukki</td>
              <td>Kottayam</td>
              <td>Pathanamthitta</td>
            </tr>
            <tr>
              <td>Kannur</td>
              <td>Kozhikode</td>
              <td>Trivandrum</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
