<section id="two">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 content">
          <p class="fw-bold">
            
            Having trouble finding reviews on college hostels? <br />
            Look no further, we’ve got you
            <span class="text-danger">covered</span>
          </p>
          <p>
            Browse our site to find student reviews and ratings on hostel
            accomodations and amenities for over 15+ colleges in Kerala.
          </p>
        </div>
        <div class="img col-12 col-md-6">
          <img src="../images/side-img.jpg" width="100%" alt="" />
          
        </div>
      </div>
    </div>
  </section>